[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = https://github.com/motemen/git-vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-css-color.vim"]
	path = .vim/bundle/vim-css-color.vim
	url = https://github.com/ap/vim-css-color.git
