[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = https://github.com/motemen/git-vim
[submodule ".vim/bundle/vim-css-color.vim"]
	path = .vim/bundle/vim-css-color.vim
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
