[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = https://github.com/motemen/git-vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-css-color.vim"]
	path = .vim/bundle/vim-css-color.vim
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/vim-powerline.git"]
	path = .vim/bundle/vim-powerline.git
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
