[alias]
    ci = commit
    co = checkout
    di = diff
    gl = log --graph --pretty=oneline
    glog = log --graph
    st = status --short
[color]
    ui = auto
[core]
    preloadindex = yes
[user]
    email = darkkiller@gmail.com
    name = Gea-Suan Lin
    pager = most
