[alias]
    br = branch
    ci = commit -v
    co = checkout
    dc = diff --cached --word-diff=color
    di = diff --word-diff=color
    gl = log --decorate --graph --pretty=oneline
    glog = log --decorate --graph
    st = status -bs
    up = "!git remote update -p; git merge --ff-only @{u}"
[color]
    ui = auto
[core]
    preloadindex = yes
[merge]
    tool = vimdiff
[push]
    default = matching
#
[include]
    path = ~/.gitconfig.local
