[alias]
    br = branch
    ci = commit -v
    co = checkout
    di = diff --color-words
    gl = log --decorate --graph --pretty=oneline
    glog = log --decorate --graph
    st = status --short
[color]
    ui = auto
[core]
    preloadindex = yes
[merge]
    tool = vimdiff
[push]
    default = matching
[user]
    email = darkkiller@gmail.com
    name = Gea-Suan Lin
